<h1>Welcome To Basic To-Do</h1>

<form action="/add_task" method="post">
    <label>New Task Description: </label>
    <input type = "text" name = "task_desc" placeholder = "Task Description"/>
    <input type = "submit"/>
</form>

<ul>
    {{#tasks}}
        <li><b>{{is_complete}}</b>: {{task_desc}} (ID: {{task_id}})</li>
    {{/tasks}}
</ul>

<a href="/logout">Logout</a>